.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background: #521751;
    z-index: 999;
}
.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
}
.spacer {
  flex: 1;
}
.toolbar_logo {
    margin-left: 1rem;
}
.toolbar_logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.toolbar_navigation_items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.toolbar_navigation_items ul li {
    padding: 0 0.5rem;
}

.toolbar_navigation_items ul li > a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}
.toolbar_navigation_items ul li > a:hover,
.toolbar_navigation_items ul li > a:active {
    color: orangered;
}

@media (max-width:768px) {
    .toolbar_navigation_items {
        display: none;
    }
}

@media (min-width:769px) {
    .toolbar_toggle_button {
        display: none;
    }
}