.bg {
    background: #f8f8f8;
    margin-top: 40px;
}
.resource-block {
    display: flex;
    padding: 20px 0px;
    justify-content: center;
}
.bg h1.heading {
    font-size: 3rem;
    text-align: center;
    padding-top: 40px;
    font-family: cursive;
    color: #343434;
    font-weight: 200;
    font-variant-ligatures: common-ligatures;
}
.resource-block .wine-card {
    border: 1px solid #f9f9f9;
    margin: 10px;
    background: white;
}
.resource-block .wine-card img {
    width: 100%;
}
.resource-block .wine-card > img:hover {
    opacity: 0.6;
    cursor: pointer;
}
.resource-block .wine-card h1 {
    font-size: 1rem;
    padding: 20px;
    margin-bottom: 0;
    color: #828282;
}
.resource-block .wine-card p {
    font-size: 14px;
    padding: 0px 20px 20px 20px;
    margin-bottom: 0;
    color: #828282;
}

@media (max-width:768px) {
    .resource-block {
        flex-wrap: wrap;
    }
    .bg h1.heading {
        font-size: 2rem;
    }
}